/* ============= Hero Area =========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.jumbotron {
    overflow: hidden !important;
}

.bg-jumbotron {
    background-image: url("../images/bunner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: orange;

    background: linear-gradient(#e6e0d8, transparent 90%),
    linear-gradient(0deg, #fff, transparent),
    #e6e0d8 url('../images/bunner.jpg') no-repeat center;
    background-size: cover; */
}

.bg-logo {
    background: #0060a2;
    padding: 5px;
}

.search-engin {
    position: relative;
    /* width: 692.98px; */
    width: 60%;
    height: 250px;
    padding: 25px;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
}

.custom-input {
    border-radius: 0 !important;
}

.input-group-text {
    background-color: #fff !important;
    border-right: unset !important;
}

#location, #search {
    border-left: unset !important;
}

.custom-btn {
    border-radius: unset !important;
    opacity: 1;
    background: #5d4da8;
    border: 1px solid #5d4da8;
    color: #fff;
    padding: 0.375rem 1.75rem;
}

.custom-btn:hover {
    background: #4a2189;
}
.user-search-form {
    /* padding-top: 30px;  */
    padding-top: 65px; /* For Unexpended state */
}

.search-model {
    color: #fff;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    padding-bottom: 3px;
    /* right: 91px; */
    right: 20px; /*for unexpended */
}

.search-model:hover {
    text-decoration: none;
    color: #fff;
}

.search-model:after{
    content: " ";
    position: absolute;
    background: gold;
    bottom: 0;
    left: 0;
    transform: rotate(0deg) translateX(50%);
    transform-origin: bottom right;
    transition: transform .3s;
}

.search-model:hover:after {
    transform: rotate(0) translateX(3px);
    height: 2px;
    width: 111px;
}

.custom-input:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da;
}

.banner-header {
    position: relative;
    top: -5px;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-between;
}

.search-close {
    cursor: pointer;
    transform: translateX(119px);
    transition: all .5s ease-in-out;
    height: 26px;
    padding-left: 4px;
    opacity: 0;
    z-index: -1;
}

.icon-active{
    transform: translateX(0px);
    opacity: 1;
    z-index: 1;
}

#close-icon {
    font-size: 24px;
    color: #fff;
}



/* For Search Nav */

.unexpend-nav-bar {
    position: absolute;
}

.search-nav {
    list-style: none;
    display: inline-block;
}

.search-nav-itme {
    margin-right: 30px;
    display: inline-block;

}

.search-nav-link-name {
    font-size: 14px;
    color: #fff;
}

.search-nav-link-name::after {
    content: "";
    background-color: gold;
    display: block;
    transform: rotate(0deg) translateX(50%);
    transform-origin: bottom right;
    transition: transform .3s;
}

.search-nav-link-name:hover:after {
    transform: rotate(0) translateX(0);
    height: 2px;
}

.search-nav-link-name:hover {
    text-decoration: none;
    color: #fff;
}


/* ============= Custom Row ========== */

.custom-row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.right-side {
    /* height: 250px; */
    height: auto;
    padding: 25px;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    transform: translateX(0);
    opacity: 1;
    transition: transform .3s ease-in;
    z-index: 1;
}

.right-side-close {
    position: absolute;
    transform: translateX(119px);
    opacity: 0;
    z-index: -1;
}

.upload-cv {
    height: 100%;
    width: 303px;
    background:#FFF;
    padding: 15px 10px;
    position: relative;
}

.expend-search-form {
    display: none;
    /* z-index: -1; */
}

.modal-title {
    font-weight: 600;
}

.modal-close:focus {
    outline: none;
}

.shearch-btn {
    padding: 12px 41px;
    text-align: center;
    color: #fff;
    background: #0361a4;
    border: 1px solid #5d4da8;
    cursor: pointer;
}

.shearch-btn:hover {
    background: #015ea1;
}


.label-color {
    font-weight: 600;
    color: #0361a4;
}

.month-search {
    padding-bottom: 15px;
}

/* Scroe Circle */

.circle-wrap {
    width: 50px;
    height: 50px;
    background: #e6e2e7;
    border-radius: 50%;
}

.circle-wrap .circle .mask, .circle-wrap .circle .fill {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 50px, 50px, 24px);
}

.circle-wrap .circle .mask.full, .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg); /*For Percentage*/
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 25px, 50px, 0px);
    background-color: #9e00b1;
}

.circle-wrap .inside-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    line-height: 45px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 100;
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(126deg); /* Real Percentage */
    }
}

/* End Circle */

hr {
    background-color: #e2e2e2;
    border: none;
    height: 1px;
    margin: 10px 0;
    clear: both;
}

.profile .actions .profile-meter {
    width: 100%;
    max-width: 200px;
    min-height: 55px;
    margin: 10px auto 0;
}

.profile .actions .view {
    font-weight: 600;
    font-family: poppins-medium-webfont;
    /* padding-left: 45px; */
    position: relative;
    white-space: nowrap;
    min-height: 20px;
    vertical-align: middle;
    line-height: 20px;
    margin-bottom: 7px;
}

.pl-pr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sepreater::before {
    content: "";
    position: absolute;
    height: 100px;
    right: 0;
    border-right: 1px solid gray;
}

.button-custom {
    border: 1px solid #f57b00;
    padding: 7px 10px;
    border-radius: 3px;
}

a.button-custom:hover {
    text-decoration: none;
}

.button-fill {
    background: #f57b00;
    color: #fff;
}
a.button-fill:hover {
    color: #fff;
}
.v-align-center {
    position: absolute;
    transform: translateY(28px);
}

.c-yellow {
    color: #f57b00
}

a.c-yellow:hover {
    color: #f57b00;
}
