/*the container must be positioned relative:*/
.custom-select {
    position: relative ;
    height: unset !important;
    padding: 0 !important;
    border: unset;
    border-bottom: 2px solid #e8e8e8 !important;
    border-radius: unset;
  }

  .custom-select select {
    display: none !important; /*hide original SELECT element:*/
  }

  /* .select-selected {
    background-color: rgb(208, 215, 221);
  } */

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 0px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    transform: rotate(180deg);
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 12px;
  }

  /*style the items (options), including the selected item:*/
  .select-selected {
    color: #000;
    /* padding: 8px 16px; */
    /* border: 1px solid transparent; */
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #e8e8e8;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 150px;
    overflow-y: auto;
  }

  .select-items div {
    color: rgb(226, 112, 19);
    padding: 5px 2px;
    border-bottom: 1px solid #000;
}

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
