.apply-footer, .detail-header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.plr-10 {
    padding: 0 10px;
}

.seprate {
    position: relative;
}

.seprate::before {
    content: "|";
    position: absolute;
    right: 0;
    top: 50%;
    color: #969696;
    transform: translateY(-50%);
}

.card-body h2 {
    font-size: 1.286em!important;
}

.jd-holder {
    margin-top: 10px;
}

.jd-h {
    display: inline-block;
    color: #000;
    font-weight: 600;
    width: 15%;
}

.jd-c {
    display: inline-block;
}

.jd-c .hover-custom-blue a{
    color: #969696;
}

.jd-c .hover-custom-blue a:hover {
    color: #3490dc;
    text-decoration: none;
}

.jd-c .oval-shape {
    background-color: #eaeaea;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.jd-c .oval-hover {
    color: #787878;
}

.jd-c .oval-hover a {
    color: inherit;
    text-decoration: none;
}

.jd-c .oval-hover a:hover {
    color: #3490dc;
}

.mt20 {
    margin-top: 20px;
}

.pd-b20 {
    padding-bottom: 20px;
}

.pa-lb {
    position: absolute;
    position: absolute;
    left: -18px;
    bottom: -30px;
}

.pop-share::before {
    border-width: 0 8px 8px;
    border-color: transparent transparent #ddd;
    top: -8px;
    margin-left: -5px;
}

.btn-fill {
    padding: 8px 15px;
    background: #3490dc;
    color: #fff;
}

.btn-fill:hover {
    background: #2a6ea7;
}

.sticky-apply {
    position: fixed;
    top: 72px;
    background: #fff;
    width: 100%;
    padding: 6px 0;
    z-index: 33;
    border-top: 1px solid #eee;
    box-shadow: 0 7px 6px -6px rgba(0,0,0,.13);
    -webkit-box-shadow: 0 7px 6px -6px rgba(0,0,0,.13);
    transition: .3s ease-in-out;
    transform: translateY(-100%);
}

.sticky {
    transform: translateY(0);
}
.middle {
    transform: translateY(8px);
}


@media(max-width: 375px) {
    .btn-fill {
        padding: 8px 4px;
    }

    .share-hover {
        margin: 0 4px;
    }

    .top-most h3 {
        vertical-align: middle;
        margin-bottom: 0px;
        padding-top: 5px;
    }

    .middle {
        transform: translateY(4px);
    }

    .about-job-detail, .top-most-detalil {
        max-width: 50%;
    }

    .three-dot, .about-job-detail h2, .top-most h3 {
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .posted {
        display: block;
        font-size: 11.99px;
    }

    .seprate::before {
        display: none;
    }

    .job-type span {
        font-size: 11.99px;
    }

    .card-body .holder {
        flex-direction: column;
    }

    .holder .job-contact-area {
        width: 100%;
    }

    .holder .job-logo {
        order: -1;
        margin-bottom: 10px;
    }
}
